.show-container{
    padding-top: 2.7dvh;
    padding-bottom: 5.3dvh;
}
.product-details{
    padding-top: 6dvh;
    row-gap: 4dvh;
}
.product-image-detail{
    width: auto;
    height: 41dvh;
}
.details-row{
    height: 8.1dvh;
}
@media (max-width: 992px) {
    .product-details{
        padding-top: 4dvh;
        row-gap: 2dvh;
    }
}