.auth-layout{
    background: linear-gradient(71.17deg, #FEAF00 19.35%, #F8D442 90.12%);
}
.auth-form{
    width: 450px;
    padding: 4.7dvh 30px 2.6dvh 30px;
    border-radius: 20px;   
}
.auth-content{
    gap: 4dvh;
}
.auth-label{
    font-size: 22px;
}
@media (max-width: 1439px) {
    .auth-form{
        padding: 2.5dvh 30px 1dvh 30px; 
    }
    .auth-content{
        gap: 2dvh;
    }
}