.sidebar-wrapper  {
    min-width: 270px !important;
    padding: 31px 38px;
}
.sidebar-logo {
    border-left: 4px solid #F8D442;
    padding-left: 12px;
}
.sidebar-logo img {
    width: 84.8px;
    height: 23px;
}
.user-image {
    width: 141px;
}
.sidebar-content{
    height: 55.22%; 
}
.sidebar-nav{
    gap: 19px ;
}
.nav-link{
    gap: 12px;
}