.offcanvas {
    background-color: var(--secondary-color);
    width: 270px !important;
    border: none !important;
    padding: 35px 44px;
}

.offcanvas-title {
    border-left: 4px solid #F8D442;
    padding-left: 12px;
    margin-bottom: 54px;
}

.offcanvas-title img {
    width: 84.8px;
    height: 23px;
}

.user-name {
    font-size: 17px;
}

.user-image {
    width: 141px;
}